<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pureq.radiotaxi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Radiotaxi</name>
    <description>Aplicación para gestión de radiotaxi.</description>
    <author email="tu@correo.com">Jimmy Jack Pureq</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
